<div class="heading">
    <h1>Are You An Introvert Or Extrovert??
    <br>
    Find Out
</h1>
</div>


<form class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="question" id="question-1">
                        <span class="question-index">Question 1/1</span>
                        <h3 class="question-test">Question Content</h3>
                        <ul class="answers list-group">
                            <li class="answer list-group-item">
                                <input type="radio" class="answer-input" id="answer1">
                                <label class="answer-label" for="answer1">
                                    <span class="answer-text">Answer 1 Content</span>
                                </label>
                            </li>
                            <li class="answer list-group-item">
                                <input type="radio" class="answer-input" id="answer2">
                                <label class="answer-label" for="answer2">
                                    <span class="answer-text">Answer 2 Content</span>
                                </label>
                            </li>
                            <li class="answer list-group-item">
                                <input type="radio" class="answer-input" id="answer3">
                                <label class="answer-label" for="answer3">
                                    <span class="answer-text">Answer 3 Content</span>
                                </label>
                            </li>
                            <li class="answer list-group-item">
                                <input type="radio" class="answer-input" id="answer4">
                                <label class="answer-label" for="answer4">
                                    <span class="answer-text">Answer 4 Content</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="d-grid gap-2 buttons">
                        <button type="button" class="btn btn-outline-primary btn-lg text-dark">
                            <i class="fa-solid fa-angle-left"></i>
                            Previous Question</button>
                        <button type="button" class="btn btn-outline-primary btn-lg text-dark">Next Question
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>