<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="text-center">Are You An Introvert Or Extrovert? Let's Play</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <ng-container *ngIf="!personalityType">
                        <div id="{{selectedQuestionIndex + 1}}">
                            <span class="question">Question {{selectedQuestionIndex + 1}}/{{questions.length}}</span>
                            <h5 class="question">{{questions[selectedQuestionIndex]?.question}}</h5>
                            <ul class="answers list-group">
                                <ng-container *ngFor="let o of questions[selectedQuestionIndex]?.options">
                                    <li class="answer list-group-item">
                                        <input style="cursor: pointer;" [(ngModel)]="answer" value="{{o.answer}}"
                                            type="radio" class="answer-input" name="options" id="{{o.answer}}">
                                        <label style="cursor: pointer;" class="answer-label" for="{{o.answer}}">
                                            <span class="answer-text">{{o.answer}}</span>
                                        </label>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>

                        <div class="d-grid gap-2 col-6 buttons">
                            <button (click)="previousQuestion()" type="button" class="btn btn-secondary d-inline">
                                <i class="fa-solid fa-angle-left"></i>
                                Previous Question</button>
                            <button (click)="nextQuestion()" type="button" class="btn btn-secondary d-inline">Next Question
                                <i class="fa-solid fa-angle-right"></i>
                            </button>
                        </div>




                    </ng-container>
                    <ng-container *ngIf="personalityType">
                        <h5 class="text-center">{{personalityType}}</h5>
                        <button (click)="resetData()" type="button" class="btn btn-secondary d-inline">
                            <i class="fa-solid fa-angle-left"></i>
                            Retake Test</button>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>